<div class="container">
    <div *ngIf="recipe == null || recipe == undefined; else elseBlock">
        <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
    </div>

    
<ng-template #elseBlock>
    <div class="row top-row">
        <div class="col">
            <button (click)="goBack()" class="results-button btn btn-secondary btn-sm"><fa-icon [icon]="faChevronLeft"></fa-icon> Back 
            </button>
        </div>
        <div class="col">
            <button *ngIf="!isRecipeSaved; else savedButton" class="save-recipe-button btn btn-sm btn-success" (click)="saveRecipe(recipe.id)"><fa-icon [icon]="faHeart"></fa-icon></button>
            <ng-template #savedButton>
                <button class="save-recipe-button btn btn-sm btn-success" (click)="deleteRecipe(recipe.id)"><fa-icon [icon]="faHeart2"></fa-icon></button>
            </ng-template>  
        </div>
    </div>
    <div class="row">
        
        <div class="col">
            <h1 class="header">{{ recipe.title }}</h1>
        
        </div>
    
    </div>
    <div class="row image-row">
        <div class="col header-image">
            <img class="img-fluid" src="{{ recipe.image }}">
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <h4 class="header">Nutrition Widget</h4>
            <div *ngIf="role == 'premium' || role =='ultra'; else notPremium">
                <iframe id="nutritionWidget"></iframe>
            </div>
            <ng-template #notPremium>
                <p class="center-text" ><a href="landing#pricing">Click Here </a>to Upgrade Your Plan to View the Price Widget</p>
               
            </ng-template>
        </div>
        <div class="col-md">
            <h4 class="header">Price Widget</h4>
            <div *ngIf="role == 'premium' || role == 'ultra'; else notPremium2">
                <iframe id="priceWidget"></iframe>
            </div>
            <ng-template #notPremium2>
                <p class="center-text" ><a class="center-text" href="landing#pricing">Click Here </a>to Upgrade Your Plan to View the Price Widget</p>
                
            </ng-template>
        </div>
     </div>
    <div class="row">
        <div class="col-md border-right">
            <h4 class="header">Ingredients</h4>
          
                <ul>
                    <li *ngFor="let ingredient of recipe.extendedIngredients">
                        {{ convertToFraction(ingredient.amount) }} {{ ingredient.unit }} {{ ingredient.name }}
                    </li>
                </ul>
       
        </div>
        <div class="col-md border-right">
            <h4 class="header">Instructions</h4>
          
                <ol>
                    <li *ngFor="let step of recipe.analyzedInstructions[0].steps">
                        {{step.step}}
                    </li>
                </ol>
            
        </div>
        <div class="col-md">
            <h4 class="header">Nutrients</h4>
           
            <div>
                <ul class="align">
                    <li *ngFor="let nutrient of recipe.nutrition.nutrients">
                        <span>{{nutrient.name}}</span> {{nutrient.amount}}{{nutrient.unit}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    

</ng-template>




<button id="showModal" data-toggle="modal" data-target="#tooManyRecipesSavedModal" style="display: none;"></button>

<div class="modal fade" id="tooManyRecipesSavedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Saved Recipes Limit Reached</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            You have reached your saved recipes limit. To save more recipes, upgrade your current plan.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">View Plans</button>
          <button data-dismiss="modal" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>