<div class="container">
    <div *ngIf="recipe == null || recipe == undefined; else elseBlock">
        <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
    </div>

    
<ng-template #elseBlock>
    <div class="row top-row">
        <div class="col">
            <button (click)="goBack()" class="results-button btn btn-secondary btn-sm"><fa-icon [icon]="faChevronLeft"></fa-icon> Back 
            </button>
        </div>
        <div class="col">
            <button class="save-recipe-button btn btn-sm btn-success" (click)="saveRecipe()">Save Recipe <fa-icon [icon]="faHeart"></fa-icon>
            </button>
        </div>
    </div>
    <div class="row">
        
        <div class="col">
            <h1 class="header">{{ recipe.title }}</h1>
        
        </div>
    
    </div>
    <div class="row image-row">
        <div class="col header-image">
            <img class="img-fluid" src="{{ recipe.image }}">
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div *ngIf="role == 'premium'; else notPremium" [innerHtml]="nutritionWidgetHtml | safeHtml"></div>
            <ng-template #notPremium>
                <p>Subscribe to Premium to View the Nutriton Widget</p>
                <button class="btn btn-primary" (click)="subscribeToPremium()">Click here to Subscribe</button>
            </ng-template>
        </div>
        <div class="col-md">
            <div [innerHtml]="nutritionWidgetHtml | safeHtml"></div>
        </div>
     </div>
    <div class="row">
        <div class="col-md border-right">
            <h4 class="header">Ingredients</h4>
          
                <ul>
                    <li *ngFor="let ingredient of recipe.extendedIngredients">
                        {{ convertToFraction(ingredient.amount) }} {{ ingredient.unit }} {{ ingredient.name }}
                    </li>
                </ul>
       
        </div>
        <div class="col-md border-right">
            <h4 class="header">Instructions</h4>
          
                <ol>
                    <li *ngFor="let step of recipe.analyzedInstructions[0].steps">
                        {{step.step}}
                    </li>
                </ol>
            
        </div>
        <div class="col-md">
            <h4 class="header">Nutrients</h4>
           
            <div>
                <ul class="align">
                    <li *ngFor="let nutrient of recipe.nutrition.nutrients">
                        <span>{{nutrient.name}}</span> {{nutrient.amount}}{{nutrient.unit}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    

</ng-template>

