.header {
    text-align: center;
}

.header-image {
    text-align: center;
}

.recipe-image {
    height: 50%;
    width: 50%;
}

.image-row {
    padding-bottom: 25px;
}

.results-button {
    float: left;
    text-align: left;
}

.save-recipe-button {
    float: right;
    text-align: right;
}

.top-row {
    padding: 15px;
}