.header {
    text-align: center;
}

.header-image {
    text-align: center;
}

.recipe-image {
    height: 50%;
    width: 50%;
}

.image-row {
    padding-bottom: 25px;
}

.results-button {
    float: left;
    text-align: left;
}

.save-recipe-button {
    float: right;
    text-align: right;
}

.top-row {
    padding: 15px;
}

.align span {
    display: inline-block;
    width: 50%;
    position: relative;
    padding-right: 10px; /* Ensures colon does not overlay the text */
  }
  
  .align span::after {
    content: ":";
    position: absolute;
    right: 10px;
  }

