
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Please Login</h1>
      </div>
    </div>
    <div *ngIf="extraTextInfo != null && extraTextInfo != undefined" class="col">
      <h3 class="text-center">{{ extraTextInfo }}</h3>
    </div>
    <div class="row">
      <div class="col">
      
           <!-- The surrounding HTML is left untouched by FirebaseUI.
           Your app may use that space for branding, controls and other customizations.-->
           <div class="auth-container">
            <div class="auth-container" id="firebaseui-auth-container"></div>
           </div>
      
     
    
      </div>
    </div>
  </div>





