<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:5000/recipes">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="http://localhost:5000/recipes">Search</a>
        <a class="nav-item nav-link" href="http://localhost:5000/profile">Profile</a>
        <a class="nav-item nav-link" href="#">Report a Bug</a>
      </div>
    </div>


    <div class="me-auto">
      <div *ngIf="auth.user | async as user; else showLogin">
        <span>Hello {{ user.displayName }}</span>
          <a role="button" (click)="logout()"> Logout</a>
      </div>
      <ng-template #showLogin>
        <a href="http://localhost:5000/login">Sign in</a>
      </ng-template>
    </div>
  


  </nav>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="localhost:5000/recipes">LocalHost.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->