<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="header">Search All Recipes</h1>
        </div>
    </div>
    <br>
    
        <form>
            <div class="row">
                <div class="form-group col">
                    <h5 class="input-header" for="queryString">Keywords - Leave Blank to Search All Recipes</h5>
                    <input name="queryString" class="form-control" id="queryString" type="text" [(ngModel)]="queryString"
                        placeholder="Keywords">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs col-sm-6 col-md-3">
                    <h5 class="input-header" for="minCarbs">Carbs</h5>
                    <input name="minCarbs" class="form-control" id="minCarbs" type="number" [(ngModel)]="minCarbs"
                        placeholder="Min Carbs">
                    <input name="maxCarbs" class="form-control" id="maxCarbs" type="number" [(ngModel)]="maxCarbs"
                        placeholder="Max Carbs">
                </div>
                <div class="form-group col-xs col-sm-6 col-md-3">
                    <h5 class="input-header" for="minProtein">Protein</h5>
                    <input name="minProtein" class="form-control" id="minProtein" type="number" [(ngModel)]="minProtein"
                        placeholder="Min Protein">
                    <input name="maxProtein" class="form-control" id="maxProtein" type="number" [(ngModel)]="maxProtein"
                        placeholder="Max Protein">
                </div>
                <div class="form-group col-xs col-sm-6 col-md-3">
                    <h5 class="input-header" for="minFat">Fat</h5>
                    <input name="minFat" class="form-control" id="minFat" type="number" [(ngModel)]="minFat"
                        placeholder="Min Fat">
                    <input name="maxFat" class="form-control" id="maxFat" type="number" [(ngModel)]="maxFat"
                        placeholder="Max Fat">
                </div>
                <div class="form-group col-xs col-sm-6 col-md-3">
                    <h5 class="input-header" for="minCalories">Calories</h5>
                    <input name="minCalories" class="form-control" id="minCalories" type="number"
                        [(ngModel)]="minCalories" placeholder="Min Calories">
                    <input name="maxCalories" class="form-control" id="maxCalories" type="number"
                        [(ngModel)]="maxCalories" placeholder="Max Calories">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs col-sm-6 col-md-3">
                    <h5 class="input-header" for="minSugar">Sugar</h5>
                    <input name="minSugar" class="form-control" id="minSugar" type="number" [(ngModel)]="minSugar"
                        placeholder="Min Sugar">
                    <input name="maxSugar" class="form-control" id="maxSugar" type="number" [(ngModel)]="maxSugar"
                        placeholder="Max Sugar">
                </div>
                <div class="form-group col-xs col-sm-6 col-md-3">
                    <h5 class="input-header" for="minSodium">Sodium</h5>
                    <input name="minSodium" class="form-control" id="minSodium" type="number" [(ngModel)]="minSodium"
                        placeholder="Min Sodium">
                    <input name="maxSodium" class="form-control" id="maxSodium" type="number" [(ngModel)]="maxSodium"
                        placeholder="Max Sodium">
                </div>
                <div class="form-group col-xs col-sm-6 col-md-3">
                    <h5 class="input-header" for="minFiber">Fiber</h5>
                    <input name="minFiber" class="form-control" id="minFiber" type="number" [(ngModel)]="minFiber"
                        placeholder="Min Fiber">
                    <input name="maxFiber" class="form-control" id="maxFiber" type="number" [(ngModel)]="maxFiber"
                        placeholder="Max Fiber">
                </div>
                <div class="form-group col-xs col-sm-6 col-md-3">
                    <h5 class="input-header" for="minCholesterol">Cholesterol</h5>
                    <input name="minCholesterol" class="form-control" id="minCholesterol" type="number"
                        [(ngModel)]="minCholesterol" placeholder="Min Cholesterol">
                    <input name="maxCholesterol" class="form-control" id="maxCholesterol" type="number"
                        [(ngModel)]="maxCholesterol" placeholder="Max Cholseterol">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs col-sm-6 col-md-6">
                    <h5 class="input-header" for="includeIngredients">Include Ingredients</h5>
                    <input [disabled]="role != 'premium'" name="includeIngredients" class="form-control" id="includeIngredients" type="text" [(ngModel)]="includeIngredients"
                        [attr.placeholder]="includeIngredientsPlaceholder">
                </div>
                <div class="form-group col-xs col-sm-6 col-md-6">
                    <h5 class="input-header" for="excludeIngredients">Exclude Ingredients</h5>
                    <input [disabled]="role != 'premium'" name="excludeIngredientsotein" class="form-control" id="excludeIngredients" type="text" [(ngModel)]="excludeIngredients"
                   placeholder="{{excludeIngredientsPlaceholder}}">
                </div>
            </div>

            

            <button class="btn btn-primary search-button" (click)="searchByMacros()">Search By Macros</button>
            <div class="form-check form-check-inline">
                <input (change)="randomizeResults = !randomizeResults" [disabled]="role != 'premium'" type="checkbox" class="form-check-input" id="random-checkbox">
                <label class="form-check-label" for="random-checkbox">Randomize Results <a href="">{{ randomCheckboxText }}</a></label>
              </div>
        </form>
   
        <div *ngIf="recipes == null || recipes == undefined; else elseBlock">
            <div class="text-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

              <ng-template #elseBlock>
    <div class="row" class="recipe-list-item" *ngFor="let recipe of recipes">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3 class="recipe-title"><a class="text-center" href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
                        <button *ngIf="!savedRecipeIds.includes(recipe.id); else savedButton" class="save-recipe-button btn btn-sm btn-success" (click)="saveRecipe(recipe.id)"><fa-icon [icon]="faHeart"></fa-icon></button>
                        <ng-template #savedButton>
                            <button class="save-recipe-button btn btn-sm btn-success" (click)="deleteRecipe(recipe.id)"><fa-icon [icon]="faHeart2"></fa-icon></button>
                        </ng-template>  
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="center col-lg">
                    <a class="" href="/recipe/{{ recipe.id }}"><img class="img-fluid center recipe-image" src="{{ recipe.image }}"></a>
                    
                </div>

                <div class="col-lg">
                    <div class="row">
                        <div class="col-sm-6 align">
                            <ul>
                                <li><span>Calories</span> {{ getNutrientInfo('Calories', recipe) }}</li>
                                <li><span>Carbs</span> {{ getNutrientInfo('Carbohydrates', recipe) }}</li>
                                <li><span>Fat</span> {{ getNutrientInfo('Fat', recipe) }}</li>
                                <li><span>Protein</span> {{ getNutrientInfo('Protein', recipe) }}</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 align">
                            <ul>
                                <li><span>Calcium</span> {{ getNutrientInfo('Calcium', recipe) }}</li>
                                <li><span>Cholesterol</span> {{ getNutrientInfo('Cholesterol', recipe) }}</li>
                                <li><span>Fiber</span> {{ getNutrientInfo('Fiber', recipe) }}</li>
                                <li><span>Sat. Fat</span> {{ getNutrientInfo('Saturated Fat', recipe) }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 align">
                            <ul>
                                <li><span>Iron</span> {{ getNutrientInfo('Iron', recipe) }}</li>
                                <li><span>Magnesium</span> {{ getNutrientInfo('Magnesium', recipe) }}</li>
                                <li><span>Zinc</span> {{ getNutrientInfo('Zinc', recipe) }}</li>
                                <li><span>Copper</span> {{ getNutrientInfo('Copper', recipe) }}</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 align">
                            <ul>
                                <li><span>Sugar</span> {{ getNutrientInfo('Sugar', recipe) }}</li>
                                <li><span>Sodium</span> {{ getNutrientInfo('Sodium', recipe) }}</li>
                                <li><span>Potassium</span> {{ getNutrientInfo('Potassium', recipe) }}</li>
                                <li><span>Vitamin C</span> {{ getNutrientInfo('Vitamin C', recipe) }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </ng-template>
</div>

<button id="showModal" data-toggle="modal" data-target="#tooManyRecipesSavedModal" style="display: none;"></button>

<div class="modal fade" id="tooManyRecipesSavedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Saved Recipes Limit Reached</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            You have reached your saved recipes limit. To save more recipes, upgrade your current plan.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">View Plans</button>
          <button data-dismiss="modal" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>