<p>recipes-list works!</p>
<input type="number" [(ngModel)]="minCarbs" placeholder="minCarbs">
<input type="number" [(ngModel)]="minFat" placeholder="minFat">
<input type="number" [(ngModel)]="minProtein" placeholder="minProtein">
<input type="number" [(ngModel)]="maxCarbs" placeholder="minCarbs">
<input type="number" [(ngModel)]="maxFat" placeholder="minFat">
<input type="number" [(ngModel)]="maxProtein" placeholder="minProtein">
<input type="number" [(ngModel)]="minCalories" placeholder="min calorieos">
<input type="number" [(ngModel)]="maxCalories" palceholder="max calories">
<button (click)="searchByMacros()">Search By Macros</button>