.input-header {
    text-align: center;
}

.recipe-title {
    text-align: center;
}

.recipe-list-item {
    margin-top: 20px;
}

.nutrients-header {
    text-align: center;
}

.header {
    text-align: center;
}

.center {
    text-align: center;
}

.recipe-image {
    width: 312px;
    height: 231px;
}