.input-header {
    text-align: center;
}

.recipe-title {
    text-align: center;
}

.recipe-list-item {
    margin-top: 20px;
}

.nutrients-header {
    text-align: center;
}

.header {
    text-align: center;
}

.center {
    text-align: center;
}

.recipe-image {
    width: 312px;
    height: 231px;
}

.save-recipe-button {
    position: absolute;
    left: 94%;
}

.align span {
    display: inline-block;
    width: 60%;
    position: relative;
    padding-right: 10px; /* Ensures colon does not overlay the text */
  }
  
  .align span::after {
    content: ":";
    position: absolute;
    right: 10px;
    display: inline-block;
  }

  .search-button {
      margin-right: 10px;
  }