<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="center">Profile</h1>
        </div>
    </div>

    <div *ngIf="savedRecipes == null || savedRecipes == undefined; else elseBlock">
        <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
    </div>

    <ng-template #elseBlock>
    
        
        <div class="row border-bottom" class="recipe-list-item" *ngFor="let recipe of savedRecipes">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3 class="recipe-title"><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
                            <button (click)="setRecipeIdToDelete(recipe.id)" data-toggle="modal" data-target="#deleteModal" class="save-recipe-button btn btn-sm btn-success"><fa-icon [icon]="faHeart"></fa-icon></button>
                        </h3> 
                    </div>
                </div>
                <div class="row">
                    <div class="center col-md">
                        <img class="img-fluid center recipe-image" src="{{ recipe.image }}">
                    </div>
                    <div class="col-md">
                      <div class="row">
                          <div class="col-6">
                              <ul>
                                  <li>Calories: {{ getNutrientInfo('Calories', recipe) }}</li>
                                  <li>Carbs: {{ getNutrientInfo('Carbohydrates', recipe) }}</li>
                                  <li>Fat: {{ getNutrientInfo('Fat', recipe) }}</li>
                                  <li>Protein: {{ getNutrientInfo('Protein', recipe) }}</li>
                              </ul>
                          </div>
                          <div class="col-6">
                              <ul>
                                  <li>Calcium: {{ getNutrientInfo('Calcium', recipe) }}</li>
                                  <li>Cholesterol: {{ getNutrientInfo('Cholesterol', recipe) }}</li>
                                  <li>Fiber: {{ getNutrientInfo('Fiber', recipe) }}</li>
                                  <li>Saturated Fat: {{ getNutrientInfo('Saturated Fat', recipe) }}</li>
                              </ul>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-6">
                              <ul>
                                  <li>Iron: {{ getNutrientInfo('Iron', recipe) }}</li>
                                  <li>Magnesium: {{ getNutrientInfo('Magnesium', recipe) }}</li>
                                  <li>Zinc: {{ getNutrientInfo('Zinc', recipe) }}</li>
                                  <li>Copper: {{ getNutrientInfo('Copper', recipe) }}</li>
                              </ul>
                          </div>
                          <div class="col-6">
                              <ul>
                                  <li>Sugar: {{ getNutrientInfo('Sugar', recipe) }}</li>
                                  <li>Sodium: {{ getNutrientInfo('Sodium', recipe) }}</li>
                                  <li>Potassium: {{ getNutrientInfo('Potassium', recipe) }}</li>
                                  <li>Vitamin C: {{ getNutrientInfo('Vitamin C', recipe) }}</li>
                              </ul>
                          </div>
                      </div>
                  </div>
        
                </div>
            </div>
        </div>
   
    
</ng-template>

</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Remove Recipe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to remove this recipe from your saved recipes?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="deleteRecipe()" type="button" class="btn btn-danger" data-dismiss="modal">Remove Recipe</button>
        </div>
      </div>
    </div>
  </div>


